<modal>
    <template>
        <div class="component__container">
            <div class="component__title">{{title}}</div>
            <div class="component__content">{{content}}</div>
            <div class="component__buttons">
                <button class="component__button action">{{buttonText}}</button>
            </div>
            <div class="component__close"></div>
        </div>
    </template>
    <style>
        x-modal {
            position: absolute;
            text-align: center;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.3);
            top: 0;
            left: 0;
            z-index: 10;
        }

        x-modal.hidden {
            display: none;
        }

        x-modal .component__container {
            position: relative;
            display: inline-block;
            background: #FFF;
            padding: 40px;
            margin: 20px;
        }

        x-modal .component__content {
            padding: 30px 0;
        }

        x-modal .component__close {
            cursor: pointer;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        x-modal .component__close:after {
            content: 'x';
            display: block;
        }
    </style>
    <script type="text/javascript">
        class Modal extends Polyblock {
            connectedCallback() {
                super.connectedCallback();

                this.querySelector('.component__close').addEventListener('click', function(){
                    this.classList.add('hidden');
                }.bind(this));

                this.querySelector('.component__button.action').addEventListener('click', function(){
                    document.location.href = this.config.actionHref;
                }.bind(this));
            }
        }

        Modal.prototype.template = document.currentScript.parentNode.querySelector('template').innerHTML;
        customElements.define('x-modal', Modal);
    </script>
</modal>