<slider>
    <style>
        x-slider {
            display: block;
            position: relative;
            overflow: hidden;
            width: 100%;
        }

        x-slider .slides-container {
            position: relative;
            white-space: nowrap;
            font-size: 0;
            transition: 0.8s ease all;
            left: 0;
        }

        x-slider .slide-container {
            font-size: 16px;
            display: inline-block;
            width: 100%;
        }
    </style>
    <script type="text/javascript">
        class Slider extends HTMLElement {
            connectedCallback() {
                this.config = (typeof this.dataset.config !== 'undefined') ? JSON.parse(this.dataset.config) : {};
                this.config.slides = this.querySelectorAll('.slide-container');
                this.config.slideContainer = this.querySelector('.slides-container');
                this.config.delay = this.config.delay ? this.config.delay : 5000;
                this.config.currentSlide = 0;
                
                this.start(this.config.delay)
            }

            goToSlide(slideIndex) {
                this.config.currentSlide = slideIndex;
                this.config.slideContainer.style.left = this.config.slides[this.config.currentSlide].offsetLeft * -1 + 'px';
            }

            start(delay) {
                this.timeout = window.setInterval(this.next.bind(this), delay);
            }

            stop() {
                this.timeout = window.clearInterval(this.timeout);
            }

            next() {
                if (this.config.currentSlide === this.config.slides.length - 1) {
                    this.goToSlide(0);
                } else {
                    this.goToSlide(this.config.currentSlide + 1);
                }
            }

            previous() {
                this.goToSlide(this.config.currentSlide - 1);
            }
        }
        
        customElements.define('x-slider', Slider);
    </script>
</navbar>