<sliderdots>
    <style>
        x-sliderdots {
            position: absolute;
            bottom: 10px;
            left: 0;
            width: 100%;
            text-align: center;
        }

        x-sliderdots .slider-dot {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 10px;
            margin: 0 5px;
            background: rgba(0,0,0,0.3);
            cursor: pointer;
        }
    </style>
    <script type="text/javascript">
        class SliderDots extends HTMLElement {
            connectedCallback() {

                if(!this.parentNode.tagName == 'x-slider') return;
                this.slider = this.parentNode;

                for(var i = 0; i < this.slider.config.slides.length; i++) {
                    var sliderDot = document.createElement('div');

                    sliderDot.classList.add('slider-dot');

                    sliderDot.addEventListener('click', function(){
                        this.slider.goToSlide(this.nextSlide);
                    }.bind({slider: this.slider, nextSlide: i}));

                    this.appendChild(sliderDot);
                }
            }
        }

        customElements.define('x-sliderdots', SliderDots);
    </script>
</sliderdots>